<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.13.0/css/all.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="sass/all.css">
</head>

<body>
    <div class="wrap">
        <div is="topbar"></div>
        <div class="product">
            <button type="button" class="add-product" @click="openModal('new')">新增產品</button>
            <table>
                <tr class="table-title">
                    <th width="10%">類別</th>
                    <th width="13%">圖片</th>
                    <th width="20%">品名</th>
                    <th width="10%">品牌</th>
                    <th width="11%">原價</th>
                    <th width="11%">售價</th>
                    <th width="10%">上架</th>
                    <th width="15%">編輯 / 刪除</th>
                </tr>
                <tr v-for="item in products" :key="item.id">
                    <td>{{ item.category }}</td>
                    <td><img :src="item.imageUrl[0]" alt=""></td>
                    <td>{{ item.title }}</td>
                    <td>{{ item.options.brand }}</td>
                    <td>NT$ {{ item.origin_price }}</td>
                    <td>NT$ {{ item.price }}</td>
                    <td>
                        <label class="container">
                            <input type="checkbox" v-model="item.is_enabled" id="showIt">
                            <span class="checkmark"></span>
                            <p>&nbsp上架</p>
                        </label>
                    </td>
                    <td class="btn-wrap">
                        <button type="button" @click="openModal('edit', item)">編輯</button>
                        <button type="button" @click="openModal('delete', item)">刪除</button>
                    </td>
                </tr>
            </table>
            <div class="form-wrap">
                <div class="title-bar">
                    <h5>{{newProduct?"新增產品":"編輯產品"}}</h5>
                    <button type="button" class="close" @click="closeForm()"><i class="fas fa-times"></i></button>
                </div>
                <div class="form">
                    <div class="pic">
                        <div class="input-group" v-for="i in 5" :key="'img_' + i">
                            <label :for="'img' + i">產品圖片</label>
                            <input type="text" :id="'img' + i" v-model="editProduct.imageUrl[i - 1]" placeholder="請輸入圖片連結">
                        </div>
                        <div class="input-group">
                            <label for="customPic">上傳圖片</label>
                            <input type="file" id="customPic" @change="uploadPic()">
                        </div>
                        <img :src="editProduct.imageUrl[0]" alt="">
                    </div>
                    <div class="content">
                        <div class="input-group">
                            <label for="title">品名</label>
                            <input type="text" id="title" v-model="editProduct.title" placeholder="請輸入品名">
                        </div>
                        <div class="input-group">
                            <label for="brand">品牌</label>
                            <input type="text" id="brand" v-model="editProduct.options.brand" placeholder="請輸入品牌">
                        </div>
                        <div class="input-group half">
                            <label for="category">分類</label>
                            <input type="text" id="category" v-model="editProduct.category" placeholder="請輸入類別">
                        </div>
                        <div class="input-group half">
                            <label for="unit">單位</label>
                            <input type="text" id="unit" v-model="editProduct.unit" placeholder="請輸入單位">
                        </div>
                        <div class="input-group half">
                            <label for="origin_price">原價</label>
                            <input type="text" id="origin_price" v-model="editProduct.origin_price" placeholder="請輸入原價">
                        </div>
                        <div class="input-group half">
                            <label for="price">售價</label>
                            <input type="text" id="price" v-model="editProduct.price" placeholder="請輸入售價">
                        </div>
                        <div class="input-group">
                            <label for="description">產品描述</label>
                            <textarea type="text" id="description" v-model="editProduct.description"
                                placeholder="請輸入產品描述"></textarea>
                        </div>
                        <div class="input-group">
                            <label for="content">說明內容</label>
                            <textarea type="text" id="content" v-model="editProduct.content" placeholder="請輸入說明內容"></textarea>
                        </div>
                        <div class="checkbox-group">
                            <label for="is_enabled">是否上架</label>
                            <input type="checkbox" id="is_enabled" v-model="editProduct.is_enabled">
                        </div>
                    </div>
                    <div class="submit-btns">
                        <button type="button" @click="closeForm()">取消</button>
                        <button type="button" @click="updateProduct()">確認</button>
                    </div>
                </div>
            </div>
            <div class="delete-alert">
                <h5>刪除產品</h5>
                <p>是否刪除 <span>{{editProduct.title}}</span> (刪除後將無法恢復)。</p>
                <div class="cancel-btns">
                    <button type="button" @click="cancelDelete()">取消</button>
                    <button type="button" @click="deleteProduct()">確認</button>
                </div>
            </div>
        </div>
        <div is="pagination" :pages="pagination" @changepage="getProducts()"></div>
    </div>

    <!-- pagination -->
    <script type="text/x-template" id="pagination">
        <ul class="pagination">
            <li :class="{'disabled': pages.current_page === 1}">
                <a href="#" @click.prevent="changePage(pages.current_page - 1)"> < prev </a>
            </li>
            <li v-for="(page, index) in pages.total_pages" :key="index + page" :class="{'active': page === pages.current_page}">
                <a href="#" @click.prevent="changePage(page)">{{ page }}</a>
            </li>
            <li :class="{'disabled': pages.current_page === pages.total_pages}">
                <a href="#" @click.prevent="changePage(pages.current_page + 1)"> next > </a>
            </li>
        </ul>
    </script>

    <!-- topbar -->
    <script type="text/x-template" id="topbar">
        <div class="topbar">
            <h1><a href="#" class="logo">Hurley Furniture</a></h1>
            <ul class="menu">
                <li><a href="#"> Home </a></li>
                <li><a href="#"> Products </a></li>
                <li><a href="#"> Sales </a></li>
                <li>
                    <button type="button" class="signout" @click="signout()">登出</button>
                </li>
            </ul> 
        </div>
    </script>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/product.js"></script>
</body>

</html>